Numbering of hashes matching IANA

I would very much prefer to have the numbering of the hashes the same as in the [IANA registry](https://www.iana.org/assignments/named-information/named-information.xhtml). If there are some missing, it is easy to add them to the registry.

This would also make it much easier to publish an internet-draft on multihashes, without creating yet another registry.


@pawal having the same numbers as IANA would be nice, but this wont work for us, as our table is going to grow well beyond that one, include historical hashes that are now broken, and non cryptographic hashes. 

Also, worth mentioning, i have been in contact with people at the IETF and IANA and they do not have a problem with us NOT using that table.

I would like to open up this issue again. If we want multihash to come through IETF, it would be really good to have the same numbering scheme as IANA. Perhaps one could use historical hashes using values over 64.

(I have also done a lot of work within the IETF.)

I can also volunteer to write a proper draft on this.

Would that require changing the current multihash constants? If so, this is a non-starter.

Yes.

Then, at this point, it would break existing hashes which isn't really an option. We could assign a range for IANA hashes and have duplicates but that's not really an improvement.

There is no such such as "the IANA registry of hash function" but several lists already exist:

* [CCNx Hash Function Types](https://www.iana.org/assignments/ccnx/ccnx.xhtml#ccnx-hash-function-types) (draft)
* [DNSSEC NSEC3 Hash Algorithms](https://www.iana.org/assignments/dnssec-nsec3-parameters/dnssec-nsec3-parameters.xhtml#dnssec-nsec3-parameters-3) (RFC5155)
* [DKIM Hash Algorithms](https://www.iana.org/assignments/dkim-parameters/dkim-parameters.xhtml#dkim-parameters-7) (RFC6376)
* [EAP Hash Algorithms](https://www.iana.org/assignments/eappotp-identifiers/eappotp-identifiers.xhtml#eappotp-identifiers-2) (RFC4793)
* [GSAKMP Nonce Hash Types](https://www.iana.org/assignments/gsakmp-parameters/gsakmp-parameters.xhtml#gsakmp-parameters-15) (RFC 4535)
* [Hash Function Textual Names](https://www.iana.org/assignments/hash-function-text-names/hash-function-text-names.xhtml#hash-function-text-names-1) (RFC 8122)
* [Hash Algorithms for HTTP Digest Authentication](https://www.iana.org/assignments/http-dig-alg/http-dig-alg.xhtml#hash-alg) (RFC 7616)
* [IKE Hash Algorithm (Value 2)](https://www.iana.org/assignments/ipsec-registry/ipsec-registry.xhtml#ipsec-registry-6) (RFC2409)
* [IKEv2 Hash Algorithms](https://www.iana.org/assignments/ikev2-parameters/ikev2-parameters.xhtml#hash-algorithms) (RFC 7427)
* [MANET Hash Functions](https://www.iana.org/assignments/manet-parameters/manet-parameters.xhtml#hash-functions) (RFC7182)
* [Cert Hash Payload Field Names](https://www.iana.org/assignments/mikey-payloads/mikey-payloads.xhtml#mikey-payloads-21) (RFC 3830, RFC 6309)
* [Named Information Hash Algorithm Registry](https://www.iana.org/assignments/named-information/named-information.xhtml) (RFC6920)
* [Netnews Cancel-Lock Hash Algorithms](https://www.iana.org/assignments/netnews-parameters/netnews-parameters.xhtml#cancel-lock-hash-algorithms) (RFC 8315)
* [PPSP Peer Protocol Merkle Hash Tree Function Registry](https://www.iana.org/assignments/ppspp/ppspp.xhtml#merkle-hash-tree) (RFC7574)
* [PGP Hash Algorithms](https://www.iana.org/assignments/pgp-parameters/pgp-parameters.xhtml#pgp-parameters-14) (RFC 4880)
* [RTSP Accept-Credentials Hash Algorithms](https://www.iana.org/assignments/rtspv2-parameters/rtspv2-parameters.xhtml#accept-credentials-hash) (RFC 7826)
* [syslog-sign Hash Algorithm Values](https://www.iana.org/assignments/syslog-parameters/syslog-parameters.xhtml#syslog-parameters-6) (RFC5848)
* [TLS HashAlgorithm](https://www.iana.org/assignments/tls-parameters/tls-parameters.xhtml#tls-parameters-18) (RFC5246, RFC8447)
* [VNC URI ID Hash Algorithms](https://www.iana.org/assignments/vnc-uri/vnc-uri.xhtml#id-hash-algorithms) (RFC7869)

I'm sure there are more hash function lists out there from other standards bodies as well.

I'd add to the list:

* [XML Security URIs](https://www.iana.org/assignments/xml-security-uris/xml-security-uris.xhtml) (RFC 6931)

There are a number of RFCs that contain hash registries, however AFAIK only [RFC6920](https://tools.ietf.org/html/rfc6920), Naming Things with Hashes, has the same goal as multihash

I would support any possible alignment

Regarding the 64 IDs, that field seems to be optional

```
The suite ID field ("ID") can be empty or can have values between 0
   and 63, inclusive.  Because there are only 64 possible values, this
   field is OPTIONAL (leaving it empty if omitted).  Where the binary
   format is not expected to be used for a given hash algorithm, this
   field SHOULD be omitted.
```

https://tools.ietf.org/html/rfc6920

There should at least be a mapping between multihash codes and the [Named Information Hash Algorithm Registry](https://github.com/multiformats/multicodec/blob/master/table.csv). Just add a column at https://www.iana.org/assignments/named-information/named-information.xhtml?

@nichtich Section 9.4 and 9.5 of RFC6290 defines the registry, so it may be quite hard to add another column unless you write an RFC that extends that registry and pushes that through in a standards track (working group).

> @nichtich Section 9.4 and 9.5 of RFC6290 defines the registry, so it may be quite hard to add another column unless you write an RFC that extends that registry and pushes that through in a standards track (working group).

Sorry for confusion. I meant to enrich https://github.com/multiformats/multicodec/blob/master/table.csv instead. In addition to IANA ids, Wikidata ids are helpful to get corresponding Wikipedia articles.